@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root {
  --bg-dark-blue: #001c38;
  --text-dark-blue: #002b57;
  --bg-med-blue: #0254a7;
  --text-med-blue: #015cb8;
  --bg-light-blue: #597fa5;
  --text-light-blue: #c6ddf5;
  --text-light: #ffffff;
  --input-bg-dark: #f6fae2;
}

* {
  font-family: Cairo, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  border: none;
  text-decoration: none;
  transition: all 0.3s linear;
}
html {
  font-size: 14px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-family: Cairo, sans-serif;
}

header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  background: var(--bg-dark-blue);
  z-index: 999999;
  padding: 0.2rem;
}
header .container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  float: left;
  height: auto;
  width: 80px;
  padding-bottom: 10px;
}

header .navbar a {
  color: var(--text-light-blue);
  font-size: 1.3rem;
  margin: 0 0.8rem;
  top: 100%;
}

header .navbar a:hover {
  color: var(--text-light);
}
header .icon i {
  font-size: 1.3rem;
  color: var(--text-light-blue);
  cursor: pointer;
  margin-right: 2rem;
}
header .icon i:hover {
  color: var(--text-light);
}
.login-form {
  position: fixed;
  top: -120%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: var(--text-light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.login-form.active {
  top: 0;
}
.login-form #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  color: var(--text-light);
  cursor: pointer;
}
.login-form form {
  margin: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--bg-light-blue);
  width: 50rem;
}
.login-form form h3 {
  font-size: 3rem;
  color: var(--text-light-blue);
    text-transform: uppercase;
  padding: 1rem 0;
  text-align: center;
}
.login-form form .box {
  width: 100%;
  padding: 0.3rem 1rem;
  font-size: 1.7rem;
  color: var(--text-dark-blue);
  margin: 0.6rem 0;
  border: 0.1rem solid var(--bg-dark-blue);
  text-transform: none;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  color: var(--blue);
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
  background: var(--input-bg-dark);
}
.btn:hover {
  color: var(--text-light);
  background: var(--bg-med-blue);
}
.login-form form .btn {
  display: block;
  width: 100%;
}
.login-form form #remember {
  margin: 2rem 0;
}
.login-form form label {
  font-size: 1.5rem;
}
.login-form form p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--text-dark-blue);
}
.login-form form p a {
  color: var(--text-med-blue);
}
#menu-bar {
  color: var(--text-light);
  border: 0.1rem solid var(--text-light);
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}
body {
  position: relative;
}

#result {
  height: 0;
  overflow: hidden;
}

#result.show {
  position: fixed;
  display: block;
  height: auto;
  z-index: 9999999;
  top: 90px;
  bottom: 0;
  left: 5%;
  padding-top: 20px;
  overflow: scroll;
  right: 5%;
  background-color: var(--bg-med-blue);
}

#result .content {
  width: 90%;
  margin: auto;
  display: grid;
  flex-direction: row;
  padding: 2rem;
}

.search-form {
  position: relative;
  background: var(--bg-dark-blue);
  display: flex;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  padding: 1.5rem;
  border-top: 0.1rem solid var(--bg-dark-blue);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.search-form #search-bar {
  width: 50%;
  height: 50px;
  padding: 1rem 3rem 0;
  color: var(--bg-med-blue);
  font-size: 1.7rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  outline: 0;
}
.search-form label {
  color: #cdffea;
  cursor: pointer;
  font-size: 3rem;
  width: 50px;
  height: 50px;
  background-color: #444;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  text-align: center;
  line-height: 50px;
}
.search-form label:hover {
  color: #00f7ff;
}

#result .content .box {
  box-shadow: 0 0 5px 2px #3333;
  height: 150px;
  display: flex;
  width: 100%;
}

#result .content .box .card-img {
  background-size: cover;
  width: 200px;
  height: 150px;
}

#result .content .box .card-content {
  padding: 2em;
  flex: auto;
  background-color: #fff;
  width: calc(100% - 300px);
  position: relative;
}
#result .content .box .card-content h1 {
  font: bolder 36px / 1 Cairo;
}
#result .content .box .card-content p {
  font: bolder 18px / 1 Cairo;
}
#result .content .box .card-content a {
  position: absolute;
  right: 1em;
  bottom: 1em;
}
#result .content .box .card-content a.explore {
  padding: 6px 10px;
  border: 1px solid #777;
  font-size: 16px;
}
#result .content .box p.desc {
    font-family: Cairo, sans-serif;
  font-size: 12px;
  line-height: 1.6;
}

#result .content .box h2 {
  font-size: 18px;
}

#result .content .box h5 {
  font-size: 16px;
}

@media (max-width: 990px) {
  #menu-bar {
    display: initial;
  }
  header .navbar {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    background: #333;
    border-top: 0.1rem solid --bg-dark-blue;
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }
  html {
    font-size: 50%;
  }
}

section {
  padding: 2rem 9%;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content {
  text-align: center;
}
.home .content h3 {
  font-size: 4.5rem;
  color: var(--text-light);
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem var(--bg-dark-blue);
}
.home .content p {
  font-size: 2.5rem;
  color: var(--text-light);
  padding: 0.5rem 0;
}
.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.home .controls {
  padding: 1rem;
  border-radius: 5rem;
  background: var(--bg-dark-blue);
  position: relative;
  top: 10rem;
}

.home .controls .video-btn {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 70%;
  background: var(--text-light);
  cursor: pointer;
  margin: 0 0.5rem;
}
.home .controls .video-btn.blue {
  background: var(--input-bg-dark);
}
.heading {
  text-align: center;
  padding: 2.5rem 0;
}
section h1.heading span {
  font-size: 3.5rem;
  background: var(--blue);
  color: var(--text-light);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
.book-from {
  background-image: url(../../images/bookformbg.jpg);
  color: var(--bg-dark-blue);
  padding-left: 30px;
  padding-right: 30px;
  padding-inline-start: 3%;
  padding-inline-end: 3%;
  padding-bottom: 3%;
}
.book {
  background-color: var(--bg-light-blue);
  color: var(--text-dark-blue);
  padding: 5px;
  padding-top: 0px;
}
.book-from {
  display: grid;
}
.from-item {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.action_page.php {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  padding: 1rem 2rem;
}
.book-from input[type="submit"] {
  margin: 10px 0 0 0;
  background: var(--bg-dark-blue);
  border: 1px solid var(--text-light);
  color: var(--text-light);
}
.book-from label,
.book-from select,
.book-from input {
  width: 90%;
}

.book-from label {
  font-weight: 699;
  word-spacing: 5px;
  padding-bottom: 8px;
}
.book-from select,
.book-from input:not(.btn) {
  margin: 10px 5 16px 5;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 17px;
  border: none;
}
.book-from select,
.book-from input:not([type="checkbox"]) {
  outline: 1px solid #6b6b6b;
  box-shadow: 0 0 7px rgba(134, 134, 134, 0.61);
}
.book-from select:focus,
.book-from input:focus {
  outline: 1px solid #000000;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}
@media (min-width: 768px) {
  .book-from {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    padding: 1rem 2rem;
  }
}

.packages .container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

section h1.heading span {
  width: 6rem;
  height: 6rem;
  display: inline-block;
  text-align: center;
  background-color: var(--bg-dark-blue);
  color: var(--text-light)
}
.packages .container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.packages .container .box img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}
.packages .container .box .content {
  padding: 2rem;
}
.packages .container .box .content h3 {
  font-size: 2rem;
  color: #333;
}
.packages .container .box .content h3 i {
  color: var(--blue);
}
.packages .container .box .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}
.packages .container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--blue);
}
.packages .container .box .content .price {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}
.packages .container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.services .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.services .container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}
.services .container .box i {
  padding: 1rem;
  font-size: 5rem;
  color: var(--blue);
}
.services .container .box h3 {
  font-size: 2.5rem;
  color: var(--text-light);
}
.services .container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.services .container .box:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.gallary .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.gallary .container .box {
  overflow: hidden;
  flex: 1 1 30rem;
  height: 25rem;
  border-radius: 0.5rem;
  border: 1rem solid #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  position: relative;
}
.gallary .container .box img {
  width: 100%;
  height: 100%;
}
.gallary .container .box .content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 5rem 2rem 2rem;
  top: -100%;
  left: 0;
}
.gallary .container .box:hover .content {
  top: 0;
}
.gallary .container .box .content h3 {
  font-size: 2.5rem;
  color: var(--blue);
}
.gallary .container .box .content p {
  font-size: 1.5rem;
  color: #fff;
  padding: 0.5rem 0;
}

.review .box {
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.review .box img {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.review .box h3 {
  color: #333;
  font-size: 2.5rem;
}
.review .box p {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.review .box .stars i {
  color: var(--blue);
  font-size: 1.7rem;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.contact .row .image {
  flex: 1 1 25rem;
}
.contact .row image img {
  width: 100%;
}
.contact .row form {
  flex: 1 1 50rem;
  padding: 2rem;
  box-shadow: 0 1 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.contact .row form .inputbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputbox input,
.contact .row form textarea {
  box-shadow: 0 0 5px 2px #ccc;
  width: 49%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  background: #f7f7f7;
}
.contact .row form button {
  box-shadow: 0 0 5px 2px #ccc;

}
.contact .row form textarea {
  height: 15rem;
  width: 100%;
}
.footer {
  background: var(--bg-dark-blue);
}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 15rem;
  text-align: center;
}
.footer .box-container .box h3 {
  font-size: 1.3rem;
  padding: 0.7rem 0;
  color: var(--text-light);
}

.footer .box-container .box p {
  font-size: 1rem;
  padding: 0.7rem 0;
  color: var(--text-light-blue);
}
.footer .box-container .box a {
  font-size: 1rem;
  padding: 0.2rem 0.5;
  color: var(--text-light-blue);
  display: block;
}
.footer .box-container .box a:hover {
  color: var(--text-light);
}
.footer .created {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--text-light-blue);
}
.footer .created span {
  color: var(--bg-light-blue);
}
